app/frontend/dist/
app/frontend/node_modules/
app/frontend/bindings/
app/frontend/package.json.md5

app/.task
app/bin/
.vscode
.idea
/.lingma/
*.log
app/build/linux/appimage/build
app/build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
*.exe
